@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(249 250 251);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.spinner {
  position: absolute;
  width: 50% !important;
  z-index: 4;
  opacity: 0.4;
  height: 15rem;
  width: 15rem;
}
